@import "vars.scss";
@import "tooltip.scss";
@import "images.scss";
@import "elements.scss";
@import "scan.scss";
@import "preview.scss";

html {
  box-sizing: border-box;
  height: 100%;
}

#yield {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Segoe UI", "Helvetica", "Ubuntu Light", "Droid Sans", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3 {
  color: deeppink;
}

.pull-right {
  float: right;
}

.hide {
  visibility: hidden;
}

.dontdisplay {
  display: none;
}

a {
  text-decoration: none;
  color: deeppink;

  &:hover {
    border-bottom: 1px solid deeppink;
  }

  &:visited {
    color: darkgray;
  }
}

#progress-bar {
  width: 0%;
  height: 10px;
  background-color: #111;
  -webkit-transition: width 0.4s;
  transition: width 0.2s;
}

#progress-bar-ref {
  width: 100%;
  border-top: 1px solid #9C9C9C;
}

pre {
  word-break: break-all;
  background-color: #f3f3f3;
  padding: 8px;
  font-size: 12px;
  /*box-shadow: inset 2px 2px 7px #eee;*/
}

footer {
  clear: both;
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding-bottom: 4px;
}

label {
  margin-bottom: 2px;
}

/*tr:nth-child(even) {*/
/*background-color: #F2E9E1;*/
/*}*/