.tile-header {
  margin-bottom: 12px;

  span[contenteditable="true"] {
    padding-right: 24px;
  }
}

.doc-name {
  display: inline-block;
}

.preview-tile {
  max-width: 300px;
  margin-right: 24px;
  margin-bottom: 28px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.2s;
  position: relative;

  &:hover {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.4);

    .proc-form {
      color: inherit;
    }
  }

  .proc-form {
    padding: 3px;

    div.cont {
      &:first-child {
        border-bottom: 1px solid lightgrey;
      }
      padding: 3px;
      margin: 3px;
      background-color: white;
    }
  }
}

.ignored {
  position: relative;
  color: black;
  text-align: center;
  padding-top: 20%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.95;
  z-index: 100;

  &:hover {
    color: deeppink;
  }
}

.close-btn {
  float: right;
  visibility: hidden;
  cursor: pointer;
}

.re-button {
  display: inline;
}

.preview-tile:hover .close-btn {
  visibility: visible;
}

.preview-image {
  position: relative;

  &:after {
    position: absolute;
    text-align: center;
    padding-top: 30%;
    font-size: 300%;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(255,255,255,0.6);
    font-family: FontAwesome;
    content: "\f250";
    opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
  }
}

.loading:after {
  opacity: 1;
}

.proc-form {
  color: lightgrey;
  transition: color 0.3s;
}