.tile-header {
  margin-bottom: 12px;

  span[contenteditable="true"] {
    padding-right: 24px;
  }
}

.preview-tile {
  .proc-form {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQANbt279z4gsBhLw9vZmhAvCBECKwILIAmBBdAGQIADA5RMkRFabrgAAAABJRU5ErkJggg==) repeat;
    padding: 3px;

    div.cont {
      padding: 3px;
      margin: 3px;
      background-color: white;
    }
  }
}

.close-btn {
  float: right;
  visibility: hidden;
  cursor: pointer;
}

.re-button {
  display: inline;
}

.preview-tile:hover .close-btn {
  visibility: visible;
}

.preview-image {
  position: relative;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQANbt279z4gsBhLw9vZmhAvCBECKwILIAmBBdAGQIADA5RMkRFabrgAAAABJRU5ErkJggg==) repeat;

  &:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(255,255,255,0.6);
    opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
  }
}

.loading:after {
  opacity: 1;
}