/**
 * Tooltip Styles by Chris Bracco
 */
/* Add this attribute to the element that needs a tooltip */
/* line 6, ../sass/tooltip.scss */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
/* line 13, ../sass/tooltip.scss */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
/* line 23, ../sass/tooltip.scss */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: #1a1a1a;
  color: #efefef;
  content: attr(data-tooltip);
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
/* line 45, ../sass/tooltip.scss */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
/* line 61, ../sass/tooltip.scss */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 1, ../sass/elements.scss */
select, input[type="text"], span[contenteditable="true"] {
  padding-bottom: 4px;
  margin-top: 8px;
  padding-left: 4px;
  color: deeppink;
}

/* line 8, ../sass/elements.scss */
input[type="text"], span[contenteditable="true"] {
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 18px;
  font-family: serif;
  transition: border-color 0.4s;
}
/* line 15, ../sass/elements.scss */
input[type="text"]:focus, span[contenteditable="true"]:focus {
  outline: none;
  border-bottom: 2px solid deeppink;
  padding-bottom: 3px;
}

/* line 22, ../sass/elements.scss */
input[type="checkbox"] {
  display: none;
}
/* line 26, ../sass/elements.scss */
input[type="checkbox"] + label:before {
  font-family: FontAwesome;
  content: "\f096\2002";
}
/* line 33, ../sass/elements.scss */
input[type="checkbox"]:checked + label:before {
  color: deeppink;
  font-family: FontAwesome;
  content: "\f046\2002";
}

/* line 41, ../sass/elements.scss */
input[type="radio"] {
  display: none;
}
/* line 44, ../sass/elements.scss */
input[type="radio"]:checked + label {
  background-color: deeppink;
  color: white;
}
/* line 48, ../sass/elements.scss */
input[type="radio"]:checked + label:after {
  content: "";
}
/* line 52, ../sass/elements.scss */
input[type="radio"]:checked + label:hover {
  color: white;
}
/* line 57, ../sass/elements.scss */
input[type="radio"] + label {
  transition: color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  padding: 1px 3px 3px 3px;
  border-radius: 2px;
}
/* line 64, ../sass/elements.scss */
input[type="radio"] + label:after {
  content: "?";
}
/* line 68, ../sass/elements.scss */
input[type="radio"] + label:hover {
  color: deeppink;
}

/* line 74, ../sass/elements.scss */
.form-submit {
  text-align: right;
}
/* line 77, ../sass/elements.scss */
.form-submit button {
  padding: 8px 24px;
}

/* line 1, ../sass/scan.scss */
.status-cont {
  opacity: 0;
  transition: opacity 0.5s;
}

/* line 6, ../sass/scan.scss */
.numberbtn {
  float: right;
  margin-top: 4px;
}

/* line 11, ../sass/scan.scss */
.mod-nr {
  cursor: pointer;
}
/* line 14, ../sass/scan.scss */
.mod-nr:hover {
  color: deeppink;
}
/* line 18, ../sass/scan.scss */
.mod-nr:active {
  color: #4AA02C;
}

/* line 1, ../sass/preview.scss */
.tile-header {
  margin-bottom: 12px;
}
/* line 4, ../sass/preview.scss */
.tile-header span[contenteditable="true"] {
  padding-right: 24px;
}

/* line 9, ../sass/preview.scss */
.doc-name {
  display: inline-block;
  width: 60%;
}

/* line 14, ../sass/preview.scss */
.preview-tile {
  max-width: 300px;
  margin-right: 24px;
  margin-bottom: 28px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
  position: relative;
}
/* line 22, ../sass/preview.scss */
.preview-tile:hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}
/* line 26, ../sass/preview.scss */
.preview-tile .proc-form {
  padding: 3px;
}
/* line 29, ../sass/preview.scss */
.preview-tile .proc-form div.cont {
  padding: 3px;
  margin: 3px;
  background-color: white;
}
/* line 30, ../sass/preview.scss */
.preview-tile .proc-form div.cont:first-child {
  border-bottom: 1px solid lightgrey;
}

/* line 40, ../sass/preview.scss */
.ignored {
  position: relative;
  color: black;
  text-align: center;
  padding-top: 20%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.95;
  z-index: 100;
}
/* line 55, ../sass/preview.scss */
.ignored:hover {
  color: deeppink;
}

/* line 60, ../sass/preview.scss */
.close-btn {
  float: right;
  visibility: hidden;
  cursor: pointer;
}

/* line 66, ../sass/preview.scss */
.re-button {
  display: inline;
}

/* line 70, ../sass/preview.scss */
.preview-tile:hover .close-btn {
  visibility: visible;
}

/* line 74, ../sass/preview.scss */
.preview-image {
  position: relative;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQYV43M2QkAIAwEUdPK9l/TtqJEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA3AUJ6QhAeO1AAAAAElFTkSuQmCC) repeat;
}
/* line 78, ../sass/preview.scss */
.preview-image:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

/* line 90, ../sass/preview.scss */
.loading:after {
  opacity: 1;
}

/* line 8, ../sass/main.scss */
html {
  box-sizing: border-box;
  height: 100%;
}

/* line 13, ../sass/main.scss */
#yield {
  min-height: 100%;
  position: relative;
}

/* line 18, ../sass/main.scss */
body {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Segoe UI", "Helvetica", "Ubuntu Light", "Droid Sans", sans-serif;
}

/* line 25, ../sass/main.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 29, ../sass/main.scss */
h1, h2, h3 {
  color: deeppink;
}

/* line 33, ../sass/main.scss */
.pull-right {
  float: right;
}

/* line 37, ../sass/main.scss */
.hide {
  visibility: hidden;
}

/* line 41, ../sass/main.scss */
.dontdisplay {
  display: none;
}

/* line 45, ../sass/main.scss */
a {
  text-decoration: none;
  color: deeppink;
}
/* line 49, ../sass/main.scss */
a:hover {
  border-bottom: 1px solid deeppink;
}
/* line 53, ../sass/main.scss */
a:visited {
  color: darkgray;
}

/* line 58, ../sass/main.scss */
#progress-bar {
  width: 0%;
  height: 10px;
  background-color: #111;
  -webkit-transition: width 0.4s;
  transition: width 0.2s;
}

/* line 66, ../sass/main.scss */
#progress-bar-ref {
  width: 100%;
  border-top: 1px solid #9C9C9C;
}

/* line 71, ../sass/main.scss */
pre {
  word-break: break-all;
  background-color: #f3f3f3;
  padding: 8px;
  font-size: 12px;
  /*box-shadow: inset 2px 2px 7px #eee;*/
}

/* line 79, ../sass/main.scss */
footer {
  clear: both;
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding-bottom: 4px;
}

/* line 87, ../sass/main.scss */
label {
  margin-bottom: 2px;
}

/*tr:nth-child(even) {*/
/*background-color: #F2E9E1;*/
/*}*/
