/* line 3, ../sass/main.scss */
h1, h2, h3 {
  color: deeppink;
}

/* line 11, ../sass/main.scss */
.spinner {
  width: 100%;
  text-align: center;
}

/* line 16, ../sass/main.scss */
.dontdisplay {
  display: none;
}

/* line 20, ../sass/main.scss */
a {
  text-decoration: none;
  color: deeppink;
}
/* line 24, ../sass/main.scss */
a:hover {
  border-bottom: 1px solid deeppink;
}
/* line 28, ../sass/main.scss */
a:visited {
  color: darkgray;
}

/* line 33, ../sass/main.scss */
#progress-bar {
  width: 0%;
  height: 10px;
  background-color: #111;
  -webkit-transition: width 0.4s;
  transition: width 0.2s;
}

/* line 41, ../sass/main.scss */
#progress-bar-ref {
  width: 100%;
  border-top: 1px solid #9C9C9C;
}

/* line 46, ../sass/main.scss */
pre {
  word-break: break-all;
  background-color: #f3f3f3;
  padding: 8px;
  font-size: 12px;
  /*box-shadow: inset 2px 2px 7px #eee;*/
}

/* line 54, ../sass/main.scss */
table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
}
/* line 59, ../sass/main.scss */
table button {
  width: 100%;
  margin-bottom: 12px;
  visibility: hidden;
  height: 50%;
}
/* line 66, ../sass/main.scss */
table .td-on-hover {
  color: #ddd;
}
/* line 71, ../sass/main.scss */
table thead tr:hover {
  background-color: white;
}
/* line 76, ../sass/main.scss */
table th {
  text-align: left;
}
/* line 80, ../sass/main.scss */
table td {
  padding: 5px 8px 3px 0;
  vertical-align: top;
}
/* line 85, ../sass/main.scss */
table tr {
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}
/* line 90, ../sass/main.scss */
table tr:hover {
  background-color: #F2E9E1;
}
/* line 93, ../sass/main.scss */
table tr:hover .td-on-hover {
  color: black;
}
/* line 97, ../sass/main.scss */
table tr:hover button {
  visibility: visible;
}

/*tr:nth-child(even) {*/
/*background-color: #F2E9E1;*/
/*}*/
