/**
 * Tooltip Styles by Chris Bracco
 */
/* Add this attribute to the element that needs a tooltip */
/* line 6, ../sass/tooltip.scss */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
/* line 13, ../sass/tooltip.scss */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
/* line 23, ../sass/tooltip.scss */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: #1a1a1a;
  color: #efefef;
  content: attr(data-tooltip);
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
/* line 45, ../sass/tooltip.scss */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
/* line 61, ../sass/tooltip.scss */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 1, ../sass/images.scss */
.preview-image {
  position: relative;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQANbt279z4gsBhLw9vZmhAvCBECKwILIAmBBdAGQIADA5RMkRFabrgAAAABJRU5ErkJggg==) repeat;
}
/* line 5, ../sass/images.scss */
.preview-image:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

/* line 17, ../sass/images.scss */
.loading:after {
  opacity: 1;
}

/* line 5, ../sass/main.scss */
h1, h2, h3 {
  color: deeppink;
}

/* line 13, ../sass/main.scss */
.spinner {
  width: 100%;
  text-align: center;
}

/* line 18, ../sass/main.scss */
.hide {
  visibility: hidden;
}

/* line 22, ../sass/main.scss */
.dontdisplay {
  display: none;
}

/* line 26, ../sass/main.scss */
a {
  text-decoration: none;
  color: deeppink;
}
/* line 30, ../sass/main.scss */
a:hover {
  border-bottom: 1px solid deeppink;
}
/* line 34, ../sass/main.scss */
a:visited {
  color: darkgray;
}

/* line 39, ../sass/main.scss */
#progress-bar {
  width: 0%;
  height: 10px;
  background-color: #111;
  -webkit-transition: width 0.4s;
  transition: width 0.2s;
}

/* line 47, ../sass/main.scss */
#progress-bar-ref {
  width: 100%;
  border-top: 1px solid #9C9C9C;
}

/* line 52, ../sass/main.scss */
pre {
  word-break: break-all;
  background-color: #f3f3f3;
  padding: 8px;
  font-size: 12px;
  /*box-shadow: inset 2px 2px 7px #eee;*/
}

/* line 60, ../sass/main.scss */
.close-btn {
  float: right;
  visibility: hidden;
  cursor: pointer;
}

/* line 66, ../sass/main.scss */
.re-button {
  display: inline;
}

/* line 70, ../sass/main.scss */
.doc-name {
  min-width: 100px;
}

/* line 74, ../sass/main.scss */
.preview-tile:hover .close-btn {
  visibility: visible;
}

/*tr:nth-child(even) {*/
/*background-color: #F2E9E1;*/
/*}*/
